---
layout: default
refactor: true
---

<div id="home-intro">
  <div class="text-container">
    <div class="text-slide">Farbano Bosa</div>
    <div class="text-slide name-surname">Marino Jakimoski</div>
    <div class="text-slide">Student @ FCSE</div>
  </div>
  <div class="icons-container">
    <i class="fa fa-icon1"></i>
    <i class="fa fa-icon2"></i>
    <i class="fa fa-icon3"></i>
    <i class="fa fa-icon4"></i>
  </div>
  <div class="empty-space"></div>
  <div class="lorem-ipsum">
    <p>Yo what's up!? Welcome to my bubble on the internet.</p>
    <p>I spend my days playing(and reviewing!) video games or working on projects or publications.</p>
    <p>Currently doing some AI research and my bachelor's thesis!</p>
    <p>Do check out my <a href="/projects">projects/publications</a> and <a href="/reviews">reviews</a>!</p>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Disable scrollbars during animation
    document.body.style.overflow = 'hidden';

    const textSegments = document.querySelectorAll(".home-intro .text-slide");
    let delay = 0;

    // Loop through each text segment and animate
    textSegments.forEach(segment => {
        segment.style.animationDelay = `${delay}s`;
        segment.classList.add("animate-text");
        delay += 1; // Increase delay for each segment
    });

    // Wait for the animation to complete (1 second per text segment now)
    setTimeout(() => {
      // Re-enable scrollbars after animation ends
      document.body.style.overflow = '';

      // Trigger the fade-in animation for lorem-ipsum text after 1.5s delay
      const loremText = document.querySelector('.lorem-ipsum p');
      loremText.style.animation = 'fadeInText 2s forwards';
      loremText.style.animationDelay = '1s';  // Optional: Adjust delay if necessary
    }, delay * 1000); // Delay is in seconds, convert to milliseconds
  });

</script>
